<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	Estimado Señor(a)
	<br />
	<br />
	%s
	<br />
	<br />
	<br /> Mediante la presente agradecemos su preferencia por haber
	contratado el <b>Servicio de Asistencia Falabella</b>, a través de <b>Falabella
	Servicios Generales S.A.C.</b>, con el respaldo del <b>Grupo Especializado de
	Asistencia del Perú S.A.C. (GEA)</b>.
	<br />
	<br /> Se le hace llegar el Condicionado y la Carta de Servicio de
	Asistencia Falabella.
	<br />
	<br /> Gracias.
	<br />
	<img src="cid:image">
	<br />
	<font size="1">Por favor no responda este e-mail. Este es una aplicación automática usada solo para enviar notificaciones.</font>
</body>
</html>