<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
Estimado Se&ntilde;or(a)
	<br />
	<br />
	%s
	<br />
	<br />
	<br /> Mediante la presente agradecemos su preferencia por haber
	contratado el <b>Servicio de Asistencia GNB</b>, a trav&eacute;s de <b>GNB Servicios
	Generales S.A.C.</b>, con el respaldo del <b>Grupo Especializado de Asistencia
	del Per&uacute; S.A.C. (GEA)</b>.
	<br />
	<br /> Se le hace llegar el Condicionado y la Carta de Servicio de
	Asistencia GNB.
	<br />
	<br />
	<a href="%s">Descargar carta</a>
	<br />
	<br />
	<a href="%s">Descargar condicionado</a>
	<br />
	<br />
	<br /> Gracias.
	<br />
	<img src="cid:image">
	<br />
	<font size="1">Por favor no responda este e-mail. Este es una aplicaci&oacute;n autom&aacute;tica usada solo para enviar notificaciones.</font>
</body>
</html>